@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1rem;
  font-size: 4rem;
}

#container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.polja,
.prazno-polje {
  border-color: black;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 4rem;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  transition: color 200ms ease-in,
  background-color 200ms ease-in;
}

.polja:hover {
  color: darkorange;
  background-color: white;
}

.prazno-polje {
  cursor: default;
  background-color: white;
}

.button {
  box-sizing: border-box;
  color: darkorange;
  background-color: white;
  border: 1px solid darkorange;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  width: 480px;
  padding: 1rem 0;
  cursor: pointer;
  transition: color 200ms ease-in,
  background-color 200ms ease-in;
}

.button:hover {
  color: white;
  background-color: darkorange;
  border: 1px solid white;
}